[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-bcrypt = "*"
flask-cors = "*"
flask-redis = "*"
google-generativeai = "*"
pypdf2 = "*"
pymupdf = "*"
pillow = "*"
pdf2image = "*"
flask = "*"
pymongo = "*"
flask-jwt-extended = "*"
flask-socketio = "*"
"pdfminer.six" = "*"
python-dotenv = "*"
google-genai = "*"

[dev-packages]

[requires]
python_version = "3.12"
